#bigT {
  .kart-body {
    background: green;
  }
}
#npc1 {
  .kart-body {
    background: blue;
  }
}
#npc2 {
  .kart-body {
    background: red;
  }
}
.kart-div {
  position: relative;
  left: 0;
  margin: 0;
  transition: all 0.25s;
}

.kart-body {
  margin: 0;
  width: 250px;
  height: 125px;
  background: red;
}

.wheel-div {
  width: 250px;
  display: flex;
  justify-content: space-between;

  .wheel1, .wheel2 {
    position: relative;
    top: -25px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: black;
  }
}
