.grass {
  height: 30%;
  background-color: $grass-green;
  width: 100%;
  position: relative;
  background-image: url(../../img/trees.png);
  background-size: 30% 100%;
  background-position: 33% 100%;
a  // animation: grass 4s infinite linear;
}

@keyframes grass {
  0% {
    background-position: 86% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
