.scale {
  transform: scale(.6);
  position: absolute;
  z-index: 29573459034734967349;
  top: -17px;
}
.scale:nth-child(2) {
  top: 139px;
}
.scale:nth-child(3) {
  top: 300px;
}

.cart-body {
  @include makeKart;
  background: silver;
  .face {
    position: absolute;
    bottom: 70px;
    left: 0;
    z-index: 32038967839679;
    width: 60%;
    transform-origin: bottom;
    animation: bobble .6s 0.3s linear infinite alternate;
  }
}
.cart-body2 {
  @include makeKart;
  background: purple;
  .face {
    position: absolute;
    bottom: 70px;
    left: 0;
    z-index: 32038967839679;
    width: 60%;
    transform-origin: bottom;
    animation: bobble .6s linear 1s infinite alternate;
  }
}
.cart-body3 {
  @include makeKart;
  background: blue;
  .face {
    position: absolute;
    bottom: 70px;
    left: -10px;
    z-index: 32038967839679;
    width: 77%;
    transform-origin: bottom;
    animation: bobble .6s linear infinite alternate;
  }
}

@keyframes bobble {
  0% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: rotateZ(15deg);
  }
}
.number {
  border-radius: 50%;
  height: 95px;
  width: 95px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 37%;
  top: 17%;
  overflow: hidden;
}
.number2 {
  border-radius: 50%;
  height: 95px;
  width: 95px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 37%;
  top: 17%;
  overflow: hidden;
}
.number3 {
  border-radius: 50%;
  height: 95px;
  width: 95px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 37%;
  top: 17%;
  overflow: hidden;
}
.player-body {
  background: black;
  height: 80px;
  width: 50px;
  position: absolute;
  left: 20%;
  top: -35%;
  z-index: -1;
  border-radius: 30%

}

.number span, .number2 span, .number3 span {
  font-weight: bold;
}

.number span {
  font-size: 145px;
}
.number2 span {
  font-size: 91px;
}
.number3 span {
  font-size: 104px;
}

.front-tire {
  background: black;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  right: 8%;
  bottom: -15%;
}

.front-wheel{
  background: white;
  height: 49px;
  width: 49px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;

}

.rear-tire {
  background: black;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -5%;
  bottom: -15%;
}
.rear-wheel {
  background: white;
  height: 59px;
  width: 59px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.hub {
  background: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.wind-screen {
  background: lightblue;
  height: 40px;
  width: 60px;
  position: absolute;
  z-index:-1;
  border-radius: 0% 100% 0% 0%;
  top:-15%;
  right: 28%;
}
.steering-wheel {
  background: black;
  height: 50px;
  width: 8px;
  border-radius: 4px;
  position: absolute;
  top: -10%;
  right: 52%;
  z-index: -1;
}
.exhaust1 {
  background:grey;
  position: absolute;
  height: 16px;
  width: 80px;
  top: 58%;
  left: -10%;
  z-index: -1;
  border-radius: 5px;
  border: solid 1px;

}
.exhaust2 {
  background:grey;
  position: absolute;
  height: 16px;
  width: 80px;
  top: 50%;
  left: -8%;
  z-index: -2;
  border-radius: 5px;
  border: solid 1px;

}
