.track {
  display: flex;
  align-items: stretch;
  position: relative;
  width: 100%;
  height: 43vh;
  .wrap {
    background-color: #333;
    width: 100%;
    height: 438px;
    border-top: 10px solid #111;
    border-bottom: 10px solid #111;
    overflow: hidden;
    z-index: -10;
    .road {
      background-color: #333;
      height: 130px;
      width: 100%;
      margin-bottom: 2rem;
      transform: skew(130deg);
      position: relative;
      overflow: hidden;
      .lines {
        height: 10px;
        width: $width;
        background-color: #fff;
        position: absolute;
        top: 80%;
      }//lines
    }//road
  }//wrap
  .flag {
    height: 34.7vh;
    width: 12%;
    z-index: 20;
    position: absolute;
    right: 1500px;
    top: 6px;
    opacity: 0;
    &.slide {
      animation: finish-line .8s linear;
    }
  }
}//track

@keyframes finish-line {
  0% {
    right: 500px;
    opacity: 0;
  }
  50% {
    opacity: .7;
  }
  100% {
    right: 1500px;
    opacity: 1;
  }
}

@for $i from 1 through $lines {
  $value: 167px * ($i - 1);
  .lines:nth-child(#{$i}) {
    left: $value;
    // animation: stripes 1s linear infinite;
  }
  @keyframes stripes {
    0% {
      left: $value;
    }
    100% {
      left: -$value;
    }
  }
}
