* {
  box-sizing: border-box;
}

$width: 130px;


.wrap {
  background-color: #333;
}

.road {
  background-color: #333;
  height: 250px;
  width: 100%;
  margin-bottom: 2rem;
  transform: skew(130deg);
  position: relative;
  overflow: hidden;
  border-top: 10px solid #111;
  border-bottom: 10px solid #111;
}

.lines {
  height: 20px;
  width: $width;
  background-color: #fff;
  position: absolute;
  top: 45%;
}

@for $i from 1 through 16 {
  $value: 167px * ($i - 1);
  .lines:nth-child(#{$i}) {
    left: $value;
  }
}
